*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    }



body{
    background-color: #FEFAE0;
    font-family: 'DM Sans', sans-serif;
}

/* nav styling */

.mtb-logo{
    max-width: 9%;
    max-height: 10%;
    object-fit: cover;
    overflow: hidden;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #FEFAE0;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 50px;
    padding: 2em;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
  }

  .menu a{
    color: black;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: black;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {

      height: 2em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: black;
      background-color: #FEFAE0;
    }
    
  }
 /* hero image styling */

 .hero {
    /* Sizing */
    width: 100%;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    
    /* Background styles */
    background-image:url(../images/pexels-stephan-seeber-1261728.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    font-family: 'DM Sans', sans-serif;


}

.hero h1 {
    font-size: 5em;
    margin-bottom: 0.5em;
}




 /* about us */

 .about-us{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    padding-top:10%;
    max-width: 700px;

 }

 @media screen and (max-width: 425px) {
        .about-us{
            font-size: 14px;
        }
    }

.about-us p{
    padding-top: 1%;
}

 /* discplines utility */


.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-auto-rows: min-content;
    padding: 10% 10%;

    }

    @media (max-width:425px) {
        .parent{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);

        }
    }


.parent img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

 /* discplines images */

.enduro-img{
    height: 100%;
    background-color: black;
}

.downhill-img{
    height: 100%;
    background-color: black;
}

.dirtjump-img{
    height: 100%;
    background-color: black;
}

 /* discplines overlay */

 .container-img {
    position: relative;

  }

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container-img:hover .image {
    opacity: 0.3;
  }
  
  .container-img:hover .middle {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 50px;
    padding: 16px 32px;
    font-weight: 900;
  }

 /* discplines content */

.enduro-content{
    max-height: fit-content;

}

.downhill-content{
    height: fit-content;

}

.dirtjump-content{
    height: fit-content;

}

/* discplines carousel */


.gallery-sec{
    margin-top: 100px;
}

#gallery-title{
    text-align: center;
    font-size: 24px;
    padding-bottom: 5%;
}

.gallery {
    --s: 350px; /* control the size */
    --g: 10px;  /* control the gap */
    --f: 1;   /* control the scale factor */
    
    display: grid;
    gap: var(--g);
    width: 80%;
    aspect-ratio: 1;
    grid-template-columns: repeat(3,auto);
    margin: auto;
  }

  .gallery > img {
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    cursor: pointer;
    filter: grayscale(80%);
    transition: .35s linear;
  }

  .gallery > img {
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    max-width: 1024px;
    object-fit: cover;
    cursor: pointer;
    filter: grayscale(80%);
    transition: .35s linear;
  }
  
  .gallery img:hover{
    filter: grayscale(0);
    width:  calc(var(--s)*var(--f));
    height: calc(var(--s)*var(--f));
  }

   /* gallery media queries */


    @media (max-width:768px) {
        .gallery{
        display: grid;
        grid-template-columns: repeat(2);
        max-width: 75%;
        height:75%;
        }
    }

    @media (max-width:425px) {
        .gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        max-width: 75%;
        height:75%;
        }
    }
   
  
  /* footer styling */

  .socials{
    display: flex;
    justify-content: space-around;
    padding: 5% 0 1% 0 ;
    font-size: 36px;
    

    :hover{
        font-weight: bold;
    }
}



  /* trails hero images  */

  .trails {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    }

    .trails img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }


    .tidworth-img{
        background-color: black;
        height: 150vh;
    }

    .windhill-img{
        background-color: black;
        height: 150vh;
    }

    .rogate-img{
        background-color: black;
        height: 150vh;
    }


    @media (max-width:425px) {
        .trails{
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 2px;
        grid-row-gap: 2px;
        }

        .trails p{
            font-size: 8px;
        }
    }


    @media (max-width:768px) {
        .trails{
        display: grid;
        grid-template-columns: 2fr;
        grid-row-gap: 5px;
        }

        .trails p{
            font-size: 14px;
        }
    }

    @media (max-width:1024px) {
        .trails{
        display: grid;
        grid-template-columns: 2fr;
        grid-row-gap: 5px;
        }

        .trails p{
            font-size: 16px;
        }
    }

  /* trails hero images overlay  */

    .container-img-trails {
        position: relative;
    
      }
    
    .image {
        opacity: 1;
        display: block;
        width: 150vh;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
      }
      
    .middle-trails {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }
      
      .container-img-trails:hover .image {
        opacity: 0.3;
      }
      
      .container-img-trails:hover .middle {
        opacity: 1;
      }
      
      .text-trails {
        color: white;
        font-weight: 900;
        width: 100%;
        height: 100vh;
        


      }



  /* newsletter hero  img */

  .hero-newsletter{
    /* Sizing */
    width: 100%;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    
    /* Background styles */
    background-image:url(../images/daniel-leone-g30P1zcOzXo-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    font-family: 'DM Sans', sans-serif;
}


  /* newsletter form */

.newsletter-form{
    width: auto;
    height: 500px;
    position: relative;
    overflow: hidden;
    transition: 500ms ease all;
    text-align: left;
  
    &:hover{
        transform: translateY(-3px);
    }
  }
  
  .form-wrapper{
    flex-grow: 1;
  }
  
  .image-wrap{
    max-width: auto;
    cursor:default;
    position: relative;
    overflow: hidden;
    transition: 500ms ease all;
    display: block;
    
  
  
  
    &:hover{
        transform: translateY(-4px);
    }
  }
  
  
  input{
      padding:15px;
      border:0;
      box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
      border-radius:14px;
      margin:15px 0; 
      
  }
  
  
  .form-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
  }
  
  .fname > input{
    border-radius: 14px;
    background: #D9D9D9;
    font-size: 16px;
    font-weight: 700;
  }
  
  .lname > input{
      border-radius: 14px;
      background-color: #D9D9D9;
      font-size: 16px;
      font-weight: 700;
    }
  
    ::placeholder {
      color: #BEB4A2;
      opacity: 1; /* Firefox */
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
     color: #BEB4A2;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
     color: #BEB4A2;
    }
    
  
  .email{
      width: 100%;
      font-size: 16px;
      font-weight: 700;
    }

.fname, .lname{
    float: left;
    width: 50%;
}

@media screen and (max-width: 768px) {
    .fname, .lname{
        float: left;
        width: 100%;
    }
    }
  
  
  
  .email-wrapper > input{
      background: #D9D9D9;
    }
  
  .button{
      background: #F7F2F4;
      width: 75%;
      color: black;
      font-size: 24px;
      font-weight: 700;
      border-radius: 14px;
    }
  
    .button {
      transition-duration: 0.4s;
    }
    
    .button:hover {
      background-color:#FEFEFC;
      color: black;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      cursor: pointer;
      border-radius: 14px;
    }
  
    .button-wrapper{
      text-align: center;
    }
  
  
    @media screen and (max-width: 425px) {
      .fname > input{
        font-size: 15px;
      }
      
      .lname > input{
          font-size: 15px;
        }
      
      .email{
          font-size: 15px;
        }
  
      .button{
        font-size: 15px;
      }
    }
  
  

    
  
   