*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    }



body{
    background-color: #FEFAE0;
    font-family: 'DM Sans', sans-serif;
}

/* nav styling */

.nav-border{
    background-color: #FEFAE0;
    height: 64px;
}

nav a{
    color: black;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;

    
}

li{
    list-style-type: none;
    
}

nav a:hover{
    text-decoration: underline;
}

.active{
    text-decoration: underline;
}

/* nav img */

nav img{
    height: 64px;
}


 /* nav flex styles */

@media screen and (min-width: 425px) {

    nav ul{
        display: flex;
        justify-content: flex-end;
        gap: 12%;
        padding-right: 25px;
        padding-top: 13px;
    }
}

 /* hero image styling */

 .hero {
    /* Sizing */
    width: 100%;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    
    /* Background styles */
    background-image:url(../images/pexels-stephan-seeber-1261728.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    font-family: 'DM Sans', sans-serif;


}

.hero h1 {
    font-size: 5em;
    margin-bottom: 0.5em;
}


 /* about us */

 .about-us{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    padding-top:10%;
    max-width: 700px;

 }

 @media screen and (max-width: 425px) {
        .about-us{
            font-size: 14px;
        }
    }

.about-us p{
    padding-top: 1%;
}

 /* discplines utility */


.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-auto-rows: min-content;
    padding: 10% 10%;

    }

    @media (max-width:425px) {
        .parent{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);

        }
    }


.parent img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

 /* discplines images */

.enduro-img{
    height: 100%;
    background-color: black;
}

.downhill-img{
    height: 100%;
    background-color: black;
}

.dirtjump-img{
    height: 100%;
    background-color: black;
}

 /* discplines overlay */

 .container-img {
    position: relative;

  }

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container-img:hover .image {
    opacity: 0.3;
  }
  
  .container-img:hover .middle {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 50px;
    padding: 16px 32px;
    font-weight: 900;
  }

 /* discplines content */

.enduro-content{
    max-height: fit-content;

}

.downhill-content{
    height: fit-content;

}

.dirtjump-content{
    height: fit-content;

}

/* discplines carousel */


.gallery-sec{
    margin-top: 100px;
}

#gallery-title{
    text-align: center;
    font-size: 24px;
    padding-bottom: 5%;
}

.gallery {
    --s: 350px; /* control the size */
    --g: 10px;  /* control the gap */
    --f: 1;   /* control the scale factor */
    
    display: grid;
    gap: var(--g);
    width: 80%;
    aspect-ratio: 1;
    grid-template-columns: repeat(3,auto);
    margin: auto;
  }

  .gallery > img {
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    cursor: pointer;
    filter: grayscale(80%);
    transition: .35s linear;
  }

  .gallery > img {
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    max-width: 1024px;
    object-fit: cover;
    cursor: pointer;
    filter: grayscale(80%);
    transition: .35s linear;
  }
  
  .gallery img:hover{
    filter: grayscale(0);
    width:  calc(var(--s)*var(--f));
    height: calc(var(--s)*var(--f));
  }

   /* gallery media queries */


    @media (max-width:768px) {
        .gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        max-width: 75%;
        height:75%;
        }
    }

    @media (max-width:425px) {
        .gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        max-width: 75%;
        height:75%;
        }
    }
   
  
  /* footer styling */

  .socials{
    display: flex;
    justify-content: space-around;
    padding: 5% 0 1% 0 ;
    font-size: 36px;
    

    :hover{
        font-weight: bold;
    }
}



  /* trails hero images  */

  .trails {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    }

    .trails img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }


    .tidworth-img{
        background-color: black;
        height: 100%;
    }

    .windhill-img{
        background-color: black;
        height: 100%;
    }

    .rogate-img{
        background-color: black;
        height: 100%;
    }


    @media (max-width:425px) {
        .trails{
        display: grid;
        grid-template-columns: 1fr;

        }
    }


    @media (max-width:768px) {
        .trails{
        display: grid;
        grid-template-columns: 2fr;

        }
    }

  /* trails hero images overlay  */

    .container-img-trails {
        position: relative;
    
      }
    
    .image {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
      }
      
    .middle-trails {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }
      
      .container-img-trails:hover .image {
        opacity: 0.3;
      }
      
      .container-img-trails:hover .middle {
        opacity: 1;
      }
      
      .text-trails {
        color: white;
        font-weight: 900;
        width: 100%;

      }


      .text-trails p{
        font-size: 14px;
        max-height: 100%;
      }
